@import url("https://fonts.googleapis.com/css?family=Open+Sans|Titillium+Web:600,700");
/* Icons (possibly remove)*/
.icon-grid {
  /*
  display: grid;
  grid-template-columns: 1fr 1fr;
  */
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.devicon-debian-plain {
  font-size: 32pt;
}
.devicon-apache-line {
  font-size: 42pt;
}
.devicon-mysql-plain-wordmark {
  font-size: 52pt;
}
.devicon-php-plain {
  font-size: 42pt;
}
.devicon-html5-plain-wordmark{
  font-size: 32pt;
}
.devicon-css3-plain-wordmark{
  font-size: 32pt;
}
.devicon-javascript-plain{
  font-size: 32pt;
}
.devicon-bootstrap-plain {
  font-size: 32pt;
}
.py-logo {
  width: 50px;
}
.ajax-logo {
  width: 100px;
}

.custom-tabs {
  border-top: solid #fff 1px;
  margin-left: -15px;
  margin-right: -15px;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  padding: 2rem;
}

.custom-tabs a {
  color: #fff;
}

.underline {
  border-bottom: solid #252527 1px;
  padding-top: 10px;
  margin-bottom: 10px;
}

html {
  overflow-x: hidden;
}

body {
  background: #fff;
  font-size: 14px;
  font-weight: 400;
  font-family: 'Open Sans', sans-serif;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: subpixel-antialiased;
  line-height: 25px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  overflow-x: hidden;
}

h1, h2, h3, h4 {
  font-size: 38px;
  font-weight: 700;
  font-family: 'Titillium Web', sans-serif;
}

a {
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
  color: #ffffff;
}

a:hover {
  text-decoration: none;
}

a a:focus {
  outline: none;
}

p {
  font-weight: 400;
  font-family: 'Open Sans', sans-serif;
  margin: 0px;
  font-size: 16.5px;
}

ul, ol {
  list-style: outside none none;
  margin: 0;
  padding: 0;
}

ul li, ol li {
  list-style: none;
}

a:not([href]):not([tabindex]) {
  color: #fff;
}

#feature {
  margin-top: 2rem;
}

.section-header {
  margin-bottom: 1rem;
}

.section-header p {
  text-align: center;
  font-weight: 400;
  line-height: 26px;
}

.section-title {
  font-size: 30px;
  display: inline-block;
  font-weight: 700;
  text-transform: uppercase;
  position: relative;
}

.section-title p {
  color: #ffffff;
}

.padding-none {
  padding: 0px;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background: rgba(15, 17, 27, 0.8);
}

.btn {
  font-size: 14px;
  padding: 10px 30px;
  cursor: pointer;
  font-weight: 400;
  color: #fff;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
  display: inline-block;
}

.btn:focus,
.btn:active {
  box-shadow: none;
  outline: none;
  color: #fff;
}

.btn-common {
  color: #1bf467;
  border: solid 2px;
  position: relative;
  z-index: 1;
  text-transform: uppercase;
} 

.btn-common2 {
  background-color: #373432;
  position: relative;
  z-index: 1;
  text-transform: uppercase;
  margin-bottom: .5rem;
} 

.btn-common:hover {
  color: #fff;
  background-color: #222;
  box-shadow: 0 6px 22px rgba(27, 244, 103, 0.25);
  transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -webkit-transition: all .2s ease-in-out;
}

.btn-common2:hover {
  background-color: transparent;
  box-shadow: 0 6px 22px rgba(0, 0, 0, 0.1);
  transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -webkit-transition: all .2s ease-in-out;
  color: #000;
  border: solid 2px;
}

.btn-border {
  color: #0489d1;
  background-color: transparent;
  border: 1px solid #0489d1;
  border-radius: 30px;
  text-transform: uppercase;
}

.btn-border:hover {
  color: #fff;
  border-color: #0489d1;
  background-color: #0489d1;
}

.btn-border:focus {
  color: #fff;
  border-color: #0489d1;
  background-color: #0489d1;
}

.btn-lg {
  padding: 10px 33px;
  text-transform: uppercase;
  font-size: 16px;
}

.btn-rm {
  padding: 7px 18px;
  text-transform: capitalize;
}

button:focus {
  outline: none !important;
}

.icon-close, .icon-check {
  color: #0489d1;
  font-size: 18pt;
}
.call-link {
  position: relative;
}
.call-icon {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform:translateY(-50%);
}
.call-icon i{
  color: #fff;
  width: 42px;
  height: 42px;
  line-height: 38px;
  background: #373432;
  text-align: center;
  display: inline-block;
  font-size: 25px;
  border-radius: 10%;
}

.social-icon a {
  color: #fff;
  width: 42px;
  height: 42px;
  line-height: 38px;
  display: inline-block;
  text-align: center;
  border-radius: 100%;
  font-size: 25px;
  margin: 0px 6px 12px 4px;
  transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
}

.social-icon a:hover {
  color: #fff !important;
  background-color: #666;
}

.social-icon .freelance {
  background: #ed7c23;
}

.social-icon .git {
  background: #2ebc4f;
}

.social-icon .linkedin {
  background: #1260A2;
}

/* ScrollToTop */
a.back-to-top {
  display: none;
  position: fixed;
  bottom: 18px;
  right: 15px;
  text-decoration: none;
}

a.back-to-top i {
  display: block;
  font-size: 22px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  color: #fff;
  background: #1f7a8c;
  border-radius: 30px;
  text-align: center;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 0 4px 8px rgba(0, 0, 0, 0.28);
}

a.back-to-top:hover, a.back-to-top:focus {
  text-decoration: none;
}

/* Preloader */
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  z-index: 9999999;
}

.loader {
  top: 50%;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  position: relative;
  margin: 0 auto;
}

#loader-1:before, #loader-1:after {
  content: "";
  position: absolute;
  top: -10px;
  left: -10px;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  border: 7px solid transparent;
  border-top-color: #1f7a8c;
}

#loader-1:before {
  z-index: 100;
  animation: spin 1s infinite;
}

#loader-1:after {
  border: 7px solid #f2f2f2;
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/* References Section */
.ref-section-padding {
  padding: 2rem 0;
  
}
/*=====================================
Services Section
=====================================*/
#services {
  padding: 4rem 0;
  
}
.u-line {
  border-bottom:5px solid #27273c;
  width: 50px;
}
.serve-desc {
  padding-top:1rem;
  max-width: 480px;
}
.somespc {
  max-width: 480px;
  padding-top:.5rem;
  padding-bottom: 1rem;
}
.serve-title {
  font-size: 1.5rem;
}
.table {
  margin-top: 1rem;
  padding: 2rem 1rem;
  border-radius: 4px;
  box-shadow: 10px 20px 30px 10px rgba(0, 0, 0, 0.08);
}
.dev-color {
  background: #252527;
  color: #fff;
}
.fa-comment-o {
  font-size: 35pt;
  content:"\f27b";
  margin-bottom: .7rem;
}
.fa-connectdevelop {
  margin-bottom: .7rem;
  font-size: 35pt;
  content:"\f20e";
}
/* pricing popup *******************************/
.modalDialog {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;

    background-color: rgba(0,0,0,0.5);
	z-index: 99999;
	opacity:0;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;
}
.modalDialog h3 {
    color: #fff;
}

.modalDialog:target {
	opacity:1;
	pointer-events: auto;
}

.modalDialog > div {
	width: 400px;
	position: relative;
	margin: 10% auto;
	padding: 5px 20px 13px 20px;
	border-radius: 10px;
}
/*=====================================
Features/About Section
=====================================*/


.text-wrapper {
  height: 100%;
  display: table;
  padding-top: 1rem;
}

.text-wrapper > div {
  vertical-align: middle;
  display: table-cell;
}

.feature-content h3 {
  text-transform: uppercase;
  font-size: 18px;
}

.feature-item:hover .icon {
  background: #fff;
}

.feature-item:hover .icon i {
  color: #0489d1;
}

.heading {
  padding-left: 30px;
}

.d-table {
  display: table;
  width: 100%;
  height: 100%;
}

.dt-cell {
  display: table-cell;
  vertical-align: middle;
}

.logo {
  margin: 0!important;
}

.navbar-brand {
  position: relative;
}
.navbar-toggler {
  color: #fff;
  position: absolute;
  top: 8px;
  right: 30px;
  font-size: 2rem;
}

.top-nav-collapse {
  z-index: 999999;
  top: 0px !important;
  box-shadow: 0px 3px 6px 3px rgba(0, 0, 0, 0.06);
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  background: #252527 !important;
}

.top-nav-collapse .navbar-brand {
  top: 0px;
}

.top-nav-collapse .navbar-nav .nav-link {
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}

.top-nav-collapse .navbar-nav .nav-link:hover {
  cursor: pointer;
}

.indigo {
  background: transparent;
}

.menu-bg {
  background: transparent;
}

.navbar-expand-md .navbar-nav .nav-link i {
  font-size: 14px;
  margin-left: 5px;
  vertical-align: middle;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.navbar-expand-md .navbar-nav .nav-link {
  font-family: 'Titillium Web', sans-serif;
  font-weight: 600;
  padding: 8px 10px;
  line-height: 40px;
  text-transform: uppercase;
  cursor: pointer;
  background: transparent;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.navbar {
  padding: 0;
  font-size: 12pt;
}

.menu-white .navbar-nav .nav-link {
  color: #373432;
}

.dropdown-toggle::after {
  display: none;
}

.dropdown-menu {
  margin: 0;
  padding: 0;
  display: none;
  position: absolute;
  z-index: 99;
  min-width: 210px;
  background-color: #fff;
  white-space: nowrap;
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  animation: fadeIn 0.4s;
  -webkit-animation: fadeIn 0.4s;
  -moz-animation: fadeIn 0.4s;
  -o-animation: fadeIn 0.4s;
  -ms-animation: fadeIn 0.4s;
}

.dropdown-menu:before {
  content: "";
  display: inline-block;
  position: absolute;
  bottom: 100%;
  left: 20%;
  margin-left: -5px;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
  border-bottom: 10px solid #fff;
}

.dropdown:hover .dropdown-menu {
  display: block;
  position: absolute;
  text-align: left;
  top: 100%;
  border: none;
  animation: fadeIn 0.4s;
  -webkit-animation: fadeIn 0.4s;
  -moz-animation: fadeIn 0.4s;
  -o-animation: fadeIn 0.4s;
  -ms-animation: fadeIn 0.4s;
}

.dropdown .dropdown-menu .dropdown-item {
  width: 100%;
  padding: 10px 20px;
  font-size: 14px;
  color: #333;
  border-bottom: 1px solid #f1f1f1;
  text-decoration: none;
  display: inline-block;
  clear: both;
  position: relative;
  outline: 0;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}

.dropdown .dropdown-menu .dropdown-item:last-child {
  border-bottom: none;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.dropdown .dropdown-menu .dropdown-item:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.dropdown .dropdown-item:focus,
.dropdown .dropdown-item:hover,
.dropdown .dropdown-item.active {
  color: #0489d1;
  background: #f7f7f7;
}

.dropdown-item.active, .dropdown-item:active {
  background: transparent;
}

.fadeInUpMenu {
  -webkit-animation-name: fadeInUpMenu;
  animation-name: fadeInUpMenu;
}

/* ==========================================================================
3. Hero Area
========================================================================== */
#hero-area {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100vh;
  color: #ffffff;
}

#hero-area .contents {
  height: 100vh;
  width: 100%;
  position: relative;
}
.center-panel {
  position: absolute;
  transform: translate(-50%,-50%);
  top: 50%;
  left: 50%;
  text-align: center;
  width: 100%;
  z-index: 100;
}
#hero-area .head-title {
  text-transform: uppercase;
  font-size: 4.0rem;
  line-height: 48px;
  font-weight: 700;
 
}
.header-button {
  padding-top: 1.5rem;
}
.center-panel p {
  padding-top: 1.5rem;
  max-width: 30rem;
  margin: 0 auto;
  font-size: 1.25rem;
}

.right-head {
  padding-left: 0px;
}

/* Wave bot bg */
@keyframes move_wave {
  0% {
      transform: translateX(0) translateZ(0) scaleY(1)
  }
  50% {
      transform: translateX(-25%) translateZ(0) scaleY(0.55)
  }
  100% {
      transform: translateX(-50%) translateZ(0) scaleY(1)
  }
}
.waveWrapper {
  overflow: hidden;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto;
}
.waveWrapperInner {
  position: absolute;
  width: 100%;
  overflow: hidden;
  height: 100%;
  bottom: -1px;
  background-image: linear-gradient(to top, #1bf467 2%, #252527 10%);
}

.bgMiddle {
  z-index: 10;
  opacity: 0.75;
}
.bgBottom {
  z-index: 5;
}
.wave {
  position: absolute;
  left: 0;
  width: 200%;
  height: 100%;
  background-repeat: repeat no-repeat;
  background-position: 0 bottom;
  transform-origin: center bottom;
}

.waveAnimation .waveTop {
animation: move-wave 3s;
 -webkit-animation: move-wave 3s;
 -webkit-animation-delay: 1s;
 animation-delay: 1s;
}
.waveMiddle {
  background-size: 50% 120px;
}
.waveAnimation .waveMiddle {
  animation: move_wave 10s linear infinite;
}
.waveBottom {
  background-size: 50% 100px;
}
.waveAnimation .waveBottom {
  animation: move_wave 15s linear infinite;
}

/* ==========================================================================
   Portfolio Table Style
   ========================================================================== */
.equal {
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
}
@media (min-width: 768px) {
  .row.equal {
    display: flex;
    flex-wrap: wrap;
  }
}

.container.spc {
  text-align: center;
  background-color: rgba(0,0,0,0.35);
  color: #fff;
  padding: 2rem 0;
  background-image: url("../img/iso-ui.jpg");
  background-position-x: 20%;
  border-radius: 4px;
}

#pricing {
  text-align: center;
  padding: 3rem 0;
}
#pricing .title {
  padding-top: 25px;
  padding-bottom: 25px;
  background: #1f7a8c;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
}

#pricing .title h3 {
  text-transform: uppercase;
  color: #fff;
  font-size: 18px;
  margin-bottom: 0px;
}

#pricing .table {
  margin-top: 15px;
  border-radius: 4px;
  background-color: #ffffff;
  box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.1);
  -webkit-transition: all .3s linear;
  -moz-transition: all .3s linear;
  -ms-transition: all .3s linear;
  -o-transition: all .3s linear;
  transition: all .3s linear;
  padding: 1rem;
}

#pricing .table .icon {
  padding-top: 30px;
}


.pricing-header p {
  text-align: left;
}

#pricing .table .pricing-header {
  position: relative;
  /*! padding-top: 20px; */
  text-align: center;
  /*! padding: 1rem; */
}

.adjust {
  margin: 0 1rem;
  text-align: left;
}

#pricing .table .pricing-header .price-value {
  font-family: 'Titillium Web', sans-serif;
  font-size: 24px;
  color: #222222;
  position: relative;
  text-align: left;
  font-weight: 700;
}

#pricing .table .pricing-header .price-value span {
  font-size: 14px;
  font-weight: 600;
}

#pricing .table .btn-box {
  margin-top: 1rem;
}

#pricing .table .description {
  text-align: center;
  /*! padding: 0px 50px; */
  /*! margin-bottom: 20px; */
  margin-top: 1rem;
}

#pricing .table .description li {
  font-size: 14px;
  font-weight: 400;
  color: #212529;
  padding-bottom: .5rem;
  text-align: left;
  
}

#pricing .table:hover {
  background: #ffffff;
  box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.08);
}

#pricing #active-tb {
  background: #ffffff;
  box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.08);
}

#pricing #active-tb .title {
  background: #222222;
}

/*check marks*/
.fa.fa-check {
  margin: 0 1rem;
  text-align: left;
}

#pricing .active {
  z-index: 99999;
}

.form-control {
  margin-bottom: 0;
  box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.1);
}
/*Project Icons*/
.fa.fa-bar-chart {
  font-size: 55pt;
  margin: auto 0;
  padding: 1rem 0;

}
.fa.fa-terminal {
  font-size: 55pt;
  margin: auto 0;
  padding: 1rem 0;
}
.fa.fa-film {
  font-size: 55pt;
  margin: auto 0;
  padding: 1rem 0;
}
.fa.fa-desktop {
  font-size: 55pt;
  margin: auto 0;
  padding: 1rem 0;
}
@media (min-width: 768px) {
  .mb-4 p{
    padding: 2rem 0;
  }
/*=====================================
Special Projects Partial Section
=====================================*/


.form-control {
  width: 100%;
  margin-bottom: 20px;
  font-size: 14px;
  border-radius: 4px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  padding: 8px 20px;
}

.form-control:focus {
  border-color: #0489d1;
  box-shadow: none;
  outline: none;
}

textarea {
  border-radius: 4px !important;
}

/*== Contact Section =====================*/
.ct-box {
  background: #fff;
  box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}
.form-info::before {
  position: absolute;
  top: -31px;
  left: -31px;
  z-index: -1;
  width: 75%;
  height: 100%;
  content: "";
  background-image:  url('../img/dots-small.svg');
}
.desk-width h2 {
  padding-top: 1rem;
}
section.form-info {
  max-width: 420px;
  margin: 0 auto;
}
.call-section-padding {
  padding: 3rem 0;
}
.form-control:focus {
  box-shadow: none;
  outline: none;
}

.btn.disabled, .btn:disabled {
  opacity: 1;
}

/*
#contact {
  position: relative;
  overflow: hidden;
  background-image: url('../img/dots-small.svg');
}
*/

#conatiner-map {
  margin-top: 30px;
  text-align: center;
  background-color: #fff;
  height: 480px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  z-index: 101;
  width: 100%;
}

.h3 {
  font-size: 16px;
  margin-top: 26px;
}

/* Footer Area Start */
.footer-area {
  background: #373432;
}

.footer-area .footer-titel {
  font-size: 20px;
  color: #fff;
  font-weight: 700;
  padding-bottom: 10px;
  letter-spacing: 0.5px;
}

.copyright {
  background: #252527;
  padding: 15px;
}


.copyright .footer-logo img {
  width: 80%;
}

.copyright p {
  line-height: 60px;
  color: #fff;
  text-align: center;
  margin: 0;
}

  .copyright p a {
    color: #fff;
  }

}