.project-header {
    background: #181818;
    height: 50vh!important;
}

.content-area {
    width: 60%;
    margin: 0 auto;
    padding-top: 1.5rem;
}

@media (max-width: 767px) {
    .project-header {
        height: 100vh!important;
    }
    .content-area {
        width: 90%;
    }

}