.project-header {
    background: #181818;
    height: 50vh!important;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    align-items: center;
}
.center-panel-p {
    padding-top: 1.5rem;
    max-width: 50rem;
    margin: 0 auto;
    font-size: 2.25rem;
    color: #fff;
    line-height: 2.5rem;
}
.content-area {
    width: 80%;
    margin: 0 auto;
    padding-top: 1.5rem;
}

@media (max-width: 767px) {
    .project-header {
        height: 100vh!important;
    }
    .content-area {
        width: 90%;
    }

}